@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

:root{
    --gold:rgba(255, 178, 108, 1);
    --white:rgba(255, 255, 255, 1);
}

html{
    scroll-behavior: smooth;
}

body {
    background-image: url(assets/shortbg.jpg);
    background-size: cover;                     
    background-repeat: repeat-y;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#navbar {
    padding: 0 4.5rem;
    
}

#navbar .container {
    padding-block: 1.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.nav-menu {
    text-align: center;
    padding-right: 100px;
    padding-top: 15px;
}

#navbar .container img {
    width: 175px;
    height: 65px;
    padding-top: 10px;
    display: flex;
    align-items: flex-end;
}


.nav-menu ul li {
    display: inline;
    padding-inline: 50px;
    list-style: none;
    font-size: 19px;
    color: white;
    align-items: center;
    font-family: 'Jost', sans-serif;
}

.nav-menu ul li:hover {
    color: var(--gold);
}


#navbar .container p {
    display: flex;
    justify-content: flex-end;
    font-size: 19px;
    color: white;
    padding-top: 5px;
    font-family: 'Jost', sans-serif;
}

#navbar .container p:hover {
    color: var(--gold);
}

a#db {
    text-decoration: none;
}


a {
    text-decoration: none;
}

#showParticipant {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9.5rem;
    margin-bottom: 10px;
}

#showParticipant h2 {
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #FFB26C 0%, #916463 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding-bottom: 3.5rem;
}


.view {
    justify-content: center;
    width: 80%;
    height: auto;
    min-height: 550px;
    background: #3E333C;
    padding: 4.5rem 3.5rem;
    border-radius: 30px;
}

.view #list {
    color: rgba(255, 178, 108, 1);
    font-size: 22px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
}

.view p {
    color: var(--white);
    font-size: 22px;
    font-weight: normal;
    font-family: 'Jost', sans-serif;
}

#dropdown {
    appearance: none;
    outline: none;
    border: none;
    border-radius: 28px;
    width: 140px;
    height: 60px;
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    background: #6C555C;
    text-align: center;
    background-color: #6C555C;
    position: relative;
    top: -15px;
}

#dropdown1 {
    appearance: none;
    outline: none;
    border: none;
    border-radius: 28px;
    width: 140px;
    height: 60px;
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    background: #6C555C;
    text-align: center;
    background-color: #6C555C;
    position: relative;
    top: -15px;
}

#dropdown option {
    border-radius: 28px;
}

.view .content {
    background-color: #6C555C;
    border: 0.869369px solid #2B2229;
    border-radius: 15px;
    margin-top: 1.5rem;
    height: 350px;
    width: 100%;
    position: relative;
    padding: 2.0rem 4.5rem;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    line-height: 3.5rem;
}

#viewData {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.5rem;
    margin-bottom: 200px;
}

#viewData .container {
    justify-content: center;
    width: 80%;
    height: auto;
    min-height: 250px;
    background: #3E333C;
    padding: 4.5rem 3.5rem;
    border-radius: 30px;
}

#viewData .container p#title {
    color: rgba(255, 178, 108, 1);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: 'Jost', sans-serif;
}


.search-bar {
    display: flex;
    justify-content: left;
    padding: 0.8rem 0 0.5rem 2.0rem;
    background-color: rgb(255, 255, 255);
    width: 400px;
    position: relative;
    left: 355px;
    margin-top: 35px;
    align-items: center;
    border-radius: 28.5px;
    gap: 120px;
    margin-bottom: 75px;
    
}

#title1 {
    padding-top: 2.5rem;
    padding-bottom: 4.0rem;
    font-size: 35px;
}

::placeholder {
    font-size: 1.0rem;
    color: grey;


  }

.search-bar > input[type="text"] {
    height: 35px;
    border: none;
    outline: none;
    font-size: 1.0rem;
   
}



.search-bar > i {
    font-size: 17px;
}

.verify {
    display: flex;
    justify-content: left;
    margin: 0 4.2rem;
    gap: 2.5rem;
    margin-top: 0.5rem;

}

.verify input[type="text"]  {
    font-size: 16px;
    font-weight: normal;
    width: 335px;
    height: 55px;
    border-radius: 28px;
    background-color: #6C555C;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    outline: none;
    border: none;
    color: var(--white);
}

.input label {
    color: var(--gold);
    padding-left: 1.0rem;
    font-size: 20px;
    padding-bottom: 0.5rem;
    font-family: 'Jost', sans-serif;
}


#btn1 {
    width: 150px;
    height: 60px;
    border-radius: 65.9558px;
    background: #60434C;
    border: 1.13717px solid #6C555C;
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 1.5rem;
    font-weight: 500;
    
}

#btn1:hover {
    background: #4c3a40;
}

#btn2 {
    width: 150px;
    height: 60px;
    border-radius: 65.9558px;
    background: #60434C;
    border: 1.13717px solid #6C555C;
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    margin-top: 40px;
    font-weight: 500;
    
}

#btn2:hover {
    background: #4c3a40;
}

#viewData .container .content {
    
    background-color: #6C555C;
    border: 0.869369px solid #2B2229;
    border-radius: 15px;
    margin-top: 4.5rem;
    height: auto;
    min-height: 1050px;
    width: 100%;
    position: relative;
    padding: 2.0rem 4.5rem;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    line-height: 3.5rem;
}


.parag1 {
    height: 1099px;
    width: 1210px;
    background-color: #3E333C;
    position: relative;
    top: -55px;
    z-index: 1;
    border-radius: 40px;
    display: flex;
    padding-top: 100px;
    flex-direction: column;
   
    gap: 3.0rem 0;
}
 
.parag1 p {
    
    color: var(--white);
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Jost', sans-serif;
    padding-right: 0.5rem;
}

.viewBukti {
    display: flex;
    justify-content: space-around;
    margin-right: 1.2rem;
  
}

.viewBukti p {
    font-size: 20px;
    font-weight: normal;
    padding: 0.9rem 4.0rem;
    border-radius: 28px;
    background-color: #6C555C;
}

.addMember p {
    font-weight: bolder;
    font-size: 30px;
    color: var(--white);
    font-family: 'Jost', sans-serif;
    padding-top: 2rem;
}

.addMember .column .input ::placeholder {
    color: rgb(46, 46, 46);
    padding-left: 0.2rem;
}

button#submit {
    width: 419px;
    height: 70px;
    background-color: #60434C;
    border-radius: 65.9558px;
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    color: var(--white);
    border: 1.13717px solid #6C555C;
}

#submit {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.parag1 form {
    padding-top: 2rem;
}


.column {
    padding: 0 2.0rem;
    gap: 60px;
    justify-content: left;
    margin-bottom: 1.5rem;
}

.text, input[type=email], input[type=tel],  input[type=file]{
    
    padding: 15px 16px;
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    border: 0.869369px solid #2B2229;
    border-radius: 20px;
    background-color: #3E333C;
    box-shadow: 0px 3.47748px 3.47748px rgba(0, 0, 0, 0.25);
    width: 425px;
    height: 55px;
    font-size: 1rem;
    color: var(--white);
}

.column ::placeholder {
    color: white;
    padding-left: 0.5rem;
}